---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Test Layout - dagk-bct';
---
<Layout title={pageTitle}>
  <h1>Test de Layout</h1>
  <p>Si ves esto, Layout.astro se renderizó sin bucles.</p>
</Layout>