---
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Test - dagk-bct';
---
<Layout title={pageTitle}>
  <h1>Test de Importación</h1>
  <p>Si ves esto, Layout.astro se importó correctamente.</p>
</Layout>